#header {
    background-color:#2B2B2B;
  }
  
  #header h1{
    color: white;
  }
  
  body{
    width: 100%;
    height: 1000px;
  }
  
  #footer{
    background-color:#283A4B;
    text-align: center;
    padding-top: 10px;
  }
  
  #footer p{
    color: white;
    font-size: 2rem;
  }